<!DOCTYPE html>
  <html lang="en" prefix='og: http://ogp.me/ns#'>
    <head>
      <!-- Meta Charset, Viewport, Name -->
<!--meta name="title" content="Discord Bot World">
<meta name="description" content="Finding useful and working bots made simple by Discord Bot World.">
<meta name="keywords" content="Bot List, Discord Bots, Discord Bot World, Bot World, botworld.ga">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="1 days">
<meta name="distribution" content="global">
<meta name="rating" content="general">

    <link rel='apple-touch-icon' sizes='180x180' href='https://cdn.botworld.ga/logos/Discord_Bot_World_Logo_(180x180).png'>
    <link rel='icon' type='image/png' sizes='32x32' href='https://cdn.botworld.ga/logos/Discord_Bot_World_Logo_(32x32).png'>
    <link rel='icon' type='image/png' sizes='16x16' href='https://cdn.botworld.ga/logos/Discord_Bot_World_Logo_(16x16).png'>
    <link rel='shortcut icon' type='image/png' href='https://cdn.botworld.ga/logos/Discord_Bot_World_Logo_(16x16).png'>
    <meta name='msapplication-TileColor' content='#7289da'>
    <meta name='theme-color' content='#7289da'>

    <meta name='apple-mobile-web-app-title' content='Discord Bot World'>
    <link rel='canonical' href='https://botworld.ga'>
    <link rel='home' href='https://botworld.ga'>
    <meta name='author' content=''>
    <meta property='og:title' content='Discord Bot World'>
    <meta property='og:description' content='Finding useful and working bots made simple by Discord Bot World.'>
    <meta property='og:url' content='https://botworld.ga'>
    <meta property='og:type' content='website'-->

        <meta property="og:title" content="Discord Bot World" />
        <meta name="copyrighted-site-verification" content="34c4b779d03f3e93" />
        <meta property="og:description" content="Finding useful and working bots made simple by Discord Bot World." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://botworld.ga" />
        <meta property="og:image" content="https://cdn.botworld.ga/logos/Discord_Bot_World_Logo_(180x180).png" />
        <meta property="og:site_name" content="Discord Bot World">
        <meta name="theme-color" content="#7289da">
        <meta name="title" content="Home">
        <meta name="description" content="Finding useful and working bots made simple by Discord Bot World.">

      
      <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K5RV4FZ');</script>
<!-- End Google Tag Manager -->
      <title><%= title %></title>

      <!-- Font-Awesome, Boostrap, Icon Librarys -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js" integrity="sha256-zG8v+NWiZxmjNi+CvUYnZwKtHzFtdO8cAKUIdB8+U9I=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://botworld.ga/lib/codemirror/codemirror.css">
      <link rel="stylesheet" href="https://botworld.ga/lib/codemirror/monokai.css">
      <script src="https://botworld.ga/lib/codemirror/codemirror.js"></script>
      <script src="https://botworld.ga/lib/codemirror/markdown.js"></script>
      <meta name="google-site-verification" content="F1L3X9JrIxnCQGFf66R3sJap3eg1R4U9s8OkAbVB_40" />
      <script src="https://botworld.ga/lib/codemirror/xml.js"></script>

      <!-- CSS Stylesheets -->
      <link rel="stylesheet" href="/public/css/dashboard.css">

      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132744481-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132744481-3');
</script>

      
      <link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"/><script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script><script>window.addEventListener("load", function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#2c2f33","text":"#ffffff","border":"#7289da"},"button":{"background":"#7289da","text":"#2c2f33"}},"position":"bottom","content":{"href":"https://botworld.ga/privacy","message":"This website uses cookies to ensure you get best experience on our website.","link":"Learn More"}})});</script>
      <!-- Website Tab Icon -->
      <!---link rel='icon' href="https://cdn.discordapp.com/attachments/560865387206672386/560889415472513024/largelogo4.png"--->
    </head>
    <body>
      <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5RV4FZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
            <nav id="nav" style=" box-shadow: 5px 5px 8px rgb(0, 0, 0);" class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #2C2F33;">
                    <a class="navbar-brand" href="/">
                        <!--<img src="https://cdn.discordapp.com/attachments/560865387206672386/560889415472513024/largelogo4.png" width="40" height="40" class="d-inline-block" alt="dbh.svg">-->  Discord Bot World</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav">
                        <li class="nav-item active"><a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lists</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="/list/new"><i class="far fa-list-alt"></i> New Bots</a>
                               <a class="dropdown-item" href="/list/top"><i class="fas fa-list"></i> Top Rated Bots</a>
                              <a class="dropdown-item" href="/list/certified"><i class="fas fa-award"></i> Certified Bots</a>
                            </div>
                          </li>
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Certification</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="/certification/info"><i class="fas fa-medal"></i> Info</a>
                               <a class="dropdown-item" href="/certification/apply"><i class="fas fa-check-circle"></i> Apply</a>
                            </div>
                          </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="/leaderboard"><i class="fas fa-chart-line"></i> Developer Leaderboard</a>
                               <a class="dropdown-item" role="button"><i class="fas fa-code"></i> API Docs (Not Active)</a>
                            </div>
                          </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Partners</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="/partners/apply"><i class="fas fa-check-circle"></i> Apply</a>
                               <a class="dropdown-item" href="/partners"><i class="fas fa-infinity"></i> View Current Partners</a>
                            </div>
                          </li>

                        <!--li class="nav-item active"><a class="nav-link" href="/list/new"><i class="fas fa-hourglass"></i> New</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/list/top"><i class="fas fa-list"></i> Top</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/list/certified"><i class="fas fa-award"></i> Certified</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/certification"><i class="fas fa-award"></i> Certification</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/leaderboard"><i class="fas fa-chart-line"></i> Dev Leaderbord</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/partners"><i class="fas fa-infinity"></i> Partners</a></li-->
                        <!-- <li class="nav-item active"><a class="nav-link" href="/api/docs"><i class="fas fa-code"></i> Api</a></li> -->
                        
                      <% if (!user || user && !bot.guilds.get("630460214235103253").members.get(user.id)) { %>  <li class="nav-item active"><a class="nav-link" target="_blank" href="/discord"><i class="fab fa-discord"></i> Join Discord</a></li><% } %>
                      <% if (user) { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= user.username %></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                              <h5 class="dropdown-header" href="#"><i class="far fa-user"></i> <%= user.username %></h5>
                              <a class="dropdown-item" href="/bot/new"><i class="fas fa-plus"></i> Add New Bot</a>
                               <a class="dropdown-item" href="/profile/<%=user.id%>"><i class="far fa-user-circle"></i> Profile</a>
                              <% if(bot.config.admins.includes(user.id)) { %>
                                <!-- <a class="dropdown-item" href="/admin"><i class="fas fa-shield-alt"></i> Admin</a> -->
                              <% } %>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
                            </div>
                          </li>
                      <% } else { %>
                        <li class="nav-item"><a href="/login" class="nav-link"><i class="fas fa-key"></i> Login</a></li>
                      <% } %>
                    <!--  <form class="form-inline" style="float: right;padding-left: 200px;" method="GET" action="/search">
                        <input class="form-control mr-sm-2" style="width: 225px;" type="search" name="name" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" required>Search</button>
                      </form> -->
                  </ul>

                    </div>
                  </nav>
                  </body>
