<%-  include("../blocks/header.ejs", { bot, user, title: "License | Discord Bot House", embedding: { default: true } }) %>

        <meta property="og:title" content="License | Discord Bot World" />
        <meta property="og:description" content="Read our site license." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://botworld.ga/license" />
        <meta property="og:image" content="https://cdn.botworld.ga/logos/Discord_Bot_World_Logo_(180x180).png" />
        <meta property="og:site_name" content="License | Discord Bot World">
        <meta name="theme-color" content="#7289da">
        <meta name="title" content="Home">
        <meta name="description" content="Read our site license.">

<div class="jumbotron main-bkg-a" style="margin: 5%; color: #fff; background-color: #2C2F33;">
  <h1>License</h1>
  <hr>
  <p>"Discord Bot World" & "Discord World" & "botworld.ga" & "Bot World" are in no way shape or form affiliated/associated with "Discord" or "DiscordApp" or "discordapp.com"</p>
</div>

<%- include("../blocks/footer.ejs") %>
