<%-  include("../blocks/header.ejs", { bot, user, title: "Partners | Discord Bot House", embedding: { default: true } }) %>
<!--link rel="stylesheet" href="https://cdn.botworld.ga/scripts/css/style.css"-->
<style>
/*@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");*/



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", arial-black !important;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.object {
  background: #2e3638;
  margin: 12px;
  color: white;
  text-align: center;
  padding: 42px 34px 60px 34px;
  max-width: 280px;
  border-radius: 8px;
  box-shadow: 0 18px 32px -6px #1b1f20bb;
  transition: 0.3s ease all;
}

.object:hover {
  transform: translateY(4px);
  transition: 0.3s ease all;
}

.object > img {
  margin-bottom: 20px;
  border-radius: 75px;
}

.object > h3 {
  padding: 12px 0;
  font-size: 1em;
}

.object > p {
  opacity: 0.7;
  margin: 12px 0;
  margin-bottom: 30px;
  font-size: 0.8em;
}

.object > a {
  text-decoration: none;
  padding: 10px 24px;
  border-radius: 4px;
  background: rgb(248, 248, 248);
  color: #292b2c;
  font-weight: 600;
}

/* @media only screen and (mix-width: 600px) { } */
</style>

<div class="jumbotron main-bkg" style="margin-left: 7%; margin-right: 7%; color: #fff">
  <h1 style="bottom: -10px; position: relative;">Partners</h1>
  <hr>
  
  <div class="wrapper">
        <div class="object">
            <img src="https://i.imgur.com/JRsKy5B.gif" alt="">
            <h3>Ｏｌｙｍｐｕｓ</h3>
            <p>Olympus is an average chat/chill/hangout server
It hosts a wholesome community; Here at Olympus, we hold events and giveaways all with nitro as their reward. We have a custom bot too, and I'm sure you'll like it there.
>:). We're waiting for your grand entrance, chivvy along!</p>
            <a href= "https://discord.gg/7QDeWvd">Learn More</a>
        </div>
        <!--div class="object">
            <img src="https://dummyimage.com/150x150/fff/000.png" alt="">
            <h3>Heading Area</h3>
            <p>Much evil soon high in hope do view. Out may few northward believing attempted.</p>
            <a href="#">Learn More</a>
        </div>
        <div class="object">
            <img src="https://dummyimage.com/150x150/fff/000.png" alt="">
            <h3>Heading Area</h3>
            <p>Much evil soon high in hope do view. Out may few northward believing attempted.</p>
            <a href="#">Learn More</a>
        </div>
        <div class="object">
            <img src="https://dummyimage.com/150x150/fff/000.png" alt="">
            <h3>Heading Area</h3>
            <p>Much evil soon high in hope do view. Out may few northward believing attempted.</p>
            <a href="#">Learn More</a>
        </div>
             <div class="object">
            <img src="https://dummyimage.com/150x150/fff/000.png" alt="">
            <h3>Heading Area</h3>
            <p>Much evil soon high in hope do view. Out may few northward believing attempted.</p>
            <a href="#">Learn More</a>
        </div-->
    </div>
  <!--p>These are our current partners. And we're proud to have them.</p>
  <br>
  <p>Sorry, we don't have any partners at the moment. Why don't you <a href="/partners/apply" style="color: #7289da;">apply?</a></p-->
  </div>

<%- include("../blocks/footer.ejs") %>
