<%-  include("blocks/header.ejs", { bot, user, title: "Premium | Discord Bot House", embedding: { default: true } }) %>

        <meta property="og:title" content="Premium | Discord Bot World" />
        <meta property="og:description" content="Donate us to help us run this bot list and in return we give you some sweet perks as a token of love from Discord Bot World team." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://botworld.ga/premium" />
        <meta property="og:image" content="https://cdn.botworld.ga/logos/Discord_Bot_World_Logo_(180x180).png" />
        <meta property="og:site_name" content="Premium | Discord Bot World">
        <meta name="theme-color" content="#7289da">
        <meta name="title" content="Home">
        <meta name="description" content="Donate us to help us run this bot list and in return we give you some sweet perks as a token of love from Discord Bot World team.">


<div class="jumbotron main-bkg-a" style="margin: 5%; color: #fff; background-color: #2C2F33;">
  <h1>
    Still Working on it...
  </h1>
  </div>

<%- include("blocks/footer.ejs") %>
